.gamechat {
    max-height: 80%;
    margin-left: 2 rem;
    padding: 0.7rem;
    text-align: center;
    overflow-y: scroll;
    list-style-type: none;
}

.messages{
    overflow-y: scroll;
    max-height: 30vh;
    min-height: 30vh;
}

.notification{
    margin: 0;
    font-size: 0.9rem;
    display: table;
    text-align: left
}

.gameNotification {
    color: green; 
}
.playerText {
    color: black; 
}

.notification:nth-child(odd) {
    background-color: lightgrey;
    width: 100%;
}

.gamechat formInput {
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: 0.5%;
    text-align: center;
}

.gamechat input[type=text] {
    padding: 3px 3px;
    margin: 0px 2px;
}

