.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    /*grid-row-gap: 2px;*/
    background: black;
}

.item {
    background: white;
}

/* cah header*/
.header > * {
    margin: 0;
}

/* headers for scoreboard and chat */
.itemHeader {
    background: black;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

/* css for dealer (card czar) black card screen */
.dealerContainer {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 1rem;
    padding-right: 0;

    border-bottom: 2px solid black;
}

.dealerCardContainer {
    display: flex;
    flex-flow: row;
    overflow-y: hidden;
}

.cardContainer {
   padding: 1rem;
}

.whiteCards {
   display: flex;
   flex-flow: row wrap;
   flex: 1;
   overflow-y: auto;
}

.scoreboard ol{
}