.grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.item {
    background: red;
}

.header > * {
    margin: 0;
}

/* css for dealer (card czar) black card screen */
.dealerContainer {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.dealerCardContainer {
    display: flex;
    flex-flow: row;
    overflow-y: hidden;
}

.cardContainer {
    display: flex;
    flex-flow: row;
}

.whiteCards {
   display: flex;
   flex-flow: row wrap;
   flex: 1;
   overflow-y: auto;
}