.button button {
  border: 0.5px solid grey;
  background-color: #f2cd46;
  border-radius: 12px;
  transition: color 0.15s ease, border-color 0.15s ease;
  margin: 0.5rem 1rem;
  text-decoration: none;
  box-shadow: 1px 2px 5px 1px grey;
  min-height: 15%;
  padding: 0.55rem 0.3rem 0.55rem 0.3rem;
  font-size: 1.2rem;
  color: black;
  min-width: 85%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
}

.button button:hover,
.button button:focus,
.button button:active {
  border: 2px solid black;
  color: black;
  text-decoration: none;
}

.bigcard {
  margin: 1.5rem 2rem 2rem 7rem;
  padding: 1.5rem 0 1.5rem 0;
  text-align: center;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  transition: color 0.15s ease, border-color 0.15s ease;
  flex-basis: 50%;
  flex-direction: column;
  min-width: 34%;
  min-height: 50%;
  white-space: nowrap;
  height: 360px;
  display: flex;
}

.input {
  margin-bottom: 1.5rem;
}

.text {
  font-weight: bold;
}

.errorMsg {
  color: red;
}