.cardContainer {
  padding: 1rem;
  text-align: left;
  margin-left: 25px;
}

.whiteCards {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  height: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
  overflow-y: auto;
  font-size: 15px;
}

.item {
  background: white;
}
