.card {
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.whiteCard {
  height: 120px;
  width: calc(120px * var(--card-hw-ratio));
  background: white;
  color: black;
  border: 1px solid black;
}

.blackCard {
  width: 220px;
  height: calc(195px * var(--card-hw-ratio));
  background: black;
  color: white;
}