.card {
  margin: 0.3rem;
  padding: 1rem;
  border-radius: 1rem;
}

.whiteCard {
  height: 20vh;
  width: calc(6vw * var(--card-hw-ratio));
  background: white;
  color: black;
  border: 1px solid black;
  overflow: auto;
}

.whiteCard:hover {
  background-color: lightgrey;
  border: 2px solid black;
}

.blackCard {
  width: 14vw;
  height: calc(20vh * var(--card-hw-ratio));
  background: black;
  color: white;
  overflow: auto;
}
