.card {
  margin: 1rem;
  padding: 1rem;
}

.whiteCard {
  height: 120px;
  width: calc(120px * var(--card-hw-ratio));
  background: white;
  color: black;
}

.blackCard {
  width: 220px;
  height: calc(220px * var(--card-hw-ratio));
  background: black;
  color: white;
}